# En prod, utiliser "database" pour se connecter, en dev utiliser "localhost"
CONNECTION_STRING="mongodb://database:27017/website-bds"
HELLOASSO_ID=""
HELLOASSO_SECRET=""
# ⚠️ Générer AUTH_SECRET avec "npx auth", pour éviter l'erreur "MissingSecret: Please define a secret."